*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$heading: 'Big Shoulders Display', sans-serif;
$text: 'Lexend Deca', sans-serif;

// Primary Color palette
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

$pColor: hsla(0, 0%, 100%, 0.75); // Paragraph Color
$veryLightGray: hsl(0, 0%, 95%); // For backgrounds headings and buttons

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: $veryLightGray;
}

.wrapper {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .wrapper { display: block; }
}

img, div > a{
  display: block;
}

.wrapper >  div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  max-width: 375px;
  height: auto;
  align-self: stretch;
  padding: 50px;
  color: $pColor;
  font-family: $text;
  
  & section {
    display: flex;
    flex-direction: column;
  }
  
  & h2 {
    font-family: $heading; 
    font-weight: 700;
    font-size: 2.1rem;
    margin: 20px 0;
    color: $veryLightGray;
  }
  
  &:first-child{
    & .link { color: $brightOrange; }
    background: $brightOrange;
  }
  &:nth-child(2) {
    & .link { color: $darkCyan; }
    background: $darkCyan;
  }
  &:last-child {
    & .link { color: $veryDarkCyan; }
    background: $veryDarkCyan;
  }
  
  & .link {
    width: 200px;
    height: max-content;
    padding: 15px;
    margin-top: 15%;
    text-decoration: none;
    text-align: center;
    font-family: $text;
    border-radius: 50px;
    background: $veryLightGray;
    
    &:hover {
      color: $veryLightGray;
      border: 2px solid $veryLightGray;
      background: transparent;
    }
  }
}